<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header.html :: common-header">

</head>
<body>

	<!-- Navbar -->
	<div th:replace="/common/header.html :: navbar"></div>
	<!-- Container begin -->
	<div class="container">
		<div class="row">
			<!-- <form th:action="@{/checkout}" method="post">  -->
			<!-- Summary panel at the left -->
			<div class="col-md-4">
				<div class="card sticky-top" style="background-color: #8DCAFF">
					<div class="card-body">
						<h5 class="card-title">Order summary</h5>
						<div class="row">
							<div class="col-md-7 text-left">Total before tax:</div>
							<div class="col-md-5 text-right">
								€<span th:text="${shoppingCart.grandTotal}"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7 text-left">Estimated tax:</div>
							<div class="col-md-5 text-right">
								€<span th:with="tax=${shoppingCart.grandTotal*0.06}"
									th:text="${#numbers.formatDecimal(tax, 0 ,2)}"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7 text-left">
								<h3>
									<strong>Order Total: </strong>
								</h3>
							</div>
							<div class="col-md-5 text-right">
								<h3>
									<strong>€<span
										th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.06}"
										th:text="${#numbers.formatDecimal(total, 0 ,2)}"></span></strong>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<form th:action="@{/checkout}" method="post">
					<div id="accordion">

						<!-- Shipping Address collapsable tab -->

						<div class="card" style="border-color: #EC4C4C">
							<div class="card-header" style="background-color: #EC4C4C">
								<a class="card-link" data-toggle="collapse" href="#collapseOne"
									style="color: #F8FC74"> Shipping Address : </a>
							</div>
							<div id="collapseOne" class="collapse show"
								data-parent="#accordion">
								<div class="card-body" style="background-color: #F8FC74">
									<table class="table" th:if="${not emptyShippingList}">
										<thead>
											<tr>
												<th>Available Shipping Address</th>
												<th>Operations</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="userShipping : ${userShippingList}">
												<td
													th:text="${userShipping.userShippingStreet1} + ' ' + ${userShipping.userShippingStreet2} + ', ' + ${userShipping.userShippingCity}
												+ ', ' + ${userShipping.userShippingCountry}"></td>
												<td><a class="book-title-color"
													th:href="@{/set-shipping-address(userShippingId=${userShipping.id})}">Use
														this address</a></td>
											</tr>
										</tbody>
									</table>


									<div class="form-group">
										<label for="shippingName">* Name</label> <input type="text"
											class="form-control" id="shippingName"
											placeholder="Receiver Name" name="shippingAddressName"
											th:value="${shippingAddress.shippingAddressName}" />
									</div>

									<div class="form-group">
										<label for="shippingStreet">* Street Address</label> <input
											type="text" class="form-control" id="shippingStreet"
											placeholder="Street Address 1" name="shippingAddressStreet1"
											th:value="${shippingAddress.shippingAddressStreet1}" />
									</div>
									<div class="form-group">
										<input type="text" class="form-control"
											placeholder="Street Address 2" name="shippingAddressStreet2"
											th:value="${shippingAddress.shippingAddressStreet2}" />
									</div>

									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label for="shippingCity">* City</label> <input type="text"
													class="form-control" id="shippingCity"
													placeholder="Shipping City" th:name="shippingAddressCity"
													required="required"
													th:value="${shippingAddress.shippingAddressCity}" />
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="shippingState">* State</label> <select
													id="shippingState" class="form-control"
													th:name="shippingAddressCountry"
													th:value="${shippingAddress.shippingAddressCountry}"
													required="required">
													<option value="" disabled="disabled">Please select
														an option</option>
													<option th:each="state : ${stateList}" th:text="${state}"
														th:selected="(${shippingAddress.shippingAddressCountry}==${state})"></option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="shippingZipcode">* Zipcode</label> <input
													type="text" class="form-control" id="shippingZipcode"
													placeholder="Shipping Zipcode"
													th:name="shippingAddressZipcode" required="required"
													th:value="${shippingAddress.shippingAddressZipcode}" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Payment collapsable tab-->

						<div class="card" style="border-color: #EC4C4C">
							<div class="card-header" style="background-color: #EC4C4C">
								<a class="collapsed card-link" data-toggle="collapse"
									href="#collapseTwo" style="color: #F8FC74">Payment
									Information : </a>
							</div>
							<div id="collapseTwo" class="collapse" data-parent="#accordion">
								<div class="card-body" style="background-color: #F8FC74">

									<!-- List of the User's credit cards -->
									<table class="table" th:if="${not emptyPaymentList}">
										<thead>
											<tr>
												<th>Available Credit Card</th>
												<th>Operations</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="userPayment : ${userPaymentList}">
												<td th:text="${userPayment.cardName}"></td>
												<td><a class="book-title-color"
													th:href="@{/set-payment-method(userPaymentId=${userPayment.id})}">Use
														this payment</a></td>
											</tr>
										</tbody>
									</table>

									<!-- Credit Card Information -->

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="cardType">* Select Card Type: </label> <select
													class="form-control" id="cardType" name="type"
													th:value="${payment.type}">
													<option value="visa">Visa</option>
													<option value="mastercard">Mastercard</option>
													<option value="bancontact">Bancontact</option>
												</select>
											</div>

											<div class="form-group">
												<label for="cardHolder">* Card Holder Name:</label> <input
													type="text" class="form-control" id="cardHolder"
													required="required" placeHolder="Card Holder Name"
													th:name="holderName" th:value="${payment.holderName}" />
											</div>
											<div class="form-group">
												<label for="cardNumber">* Card Number:</label>
												<div class="input-group">
													<input type="tel" class="form-control" id="cardNumber"
														required="required" placeHolder="Valid Card Number"
														th:name="cardNumber" th:value="${payment.cardNumber}" />
													<span class="input-group-addon"><i
														class="fa fa-credit-card" aria-hidden="true"></i></span>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-7">
											<div class="form-group">
												<label>* Expiration Date</label>
												<div class="row">
													<div class="col-md-6">
														<select class="form-control" name="expiryMonth"
															required="required" th:value="${payment.expiryMonth}">
															<option disabled="disabled">-- Month --</option>
															<option th:each="i : ${#numbers.sequence(1, 12)}"
																th:value="${i}" th:text="${i}"
																th:selected="${payment.expiryMonth==i}"></option>
														</select>
													</div>
													<div class="col-md-6">
														<select class="form-control" name="expiryYear"
															th:value="${payment.expiryYear}">
															<option disabled="disabled">-- Year --</option>
															<option th:each="i : ${#numbers.sequence(2021, 2030)}"
																th:value="${i}" th:text="${i}"
																th:selected="${payment.ExpiryYear==i}"></option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-5">
											<div class="form-group">
												<label for="cardCVC">CV Code</label> <input id="cardCVC"
													type="tel" class="form-control" name="cvc"
													placeholder="CVC" th:name="cvc" th:value="${payment.cvc}" />
											</div>
										</div>
									</div>

									<!-- Billing Address -->

									<div class="checkbox">
										<label> <input id="theSameAsShippingAddress"
											type="checkbox" name="billingSameAsShipping" value="true" />
											The same as shipping address
										</label>
									</div>

									<div class="form-group">
										<label for="billingName">* Name</label> <input type="text"
											class="form-control billingAddress" id="billingName"
											placeholder="Receiver Name" th:name="billingAddressName"
											required="required"
											th:value="${billingAddress.billingAddressName}" />
									</div>
									<div class="form-group">
										<label for="billingAddress">* Street Address</label> <input
											type="text" class="form-control billingAddress"
											id="billingAddress" placeholder="Street Address 1"
											th:name="billingAddressStreet1" required="required"
											th:value="${billingAddress.billingAddressStreet1}" /> <input
											type="text" class="form-control billingAddress"
											id="billingAddress" placeholder="Street Address 2"
											th:name="billingAddressStreet2"
											th:value="${billingAddress.billingAddressStreet2}" />
									</div>

									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label for="billingCity">* City</label> <input type="text"
													class="form-control billingAddress" id="billingCity"
													placeholder="Billing city" th:name="billingAddressCity"
													required="required"
													th:value="${billingAddress.billingAddressCity}" />
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="billingState">* State</label> <select
													id="billingState" class="form-control billingAddress"
													th:name="billingAddressCountry"
													th:value="${billingAddress.billingAddressCountry}"
													required="required">
													<option value="" disabled="disabled">Please select
														an option</option>
													<option th:each="state : ${stateList}" th:text="${state}"
														th:selected="(${billingAddress.billingAddressCountry}==${state})"></option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="billingZipcode">* Zipcode</label> <input
													type="text" class="form-control billingAddress"
													id="billingZipcode" placeholder="Billing Zipcode"
													th:name="billingAddressZipcode" required="required"
													th:value="${billingAddress.billingAddressZipcode}" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Collaspable tab with all cart items -->

						<div class="card" style="border-color: #EC4C4C">
							<div class="card-header" style="background-color: #EC4C4C">
								<a class="collapsed card-link" data-toggle="collapse"
									href="#collapseThree" style="color: #F8FC74"> Review Items
									:</a>
							</div>
							<div id="collapseThree" class="collapse" data-parent="#accordion">
								<div class="card-body" style="background-color: #F8FC74">
									<h4>Choose your shipping method:</h4>
									<div class="radio">
										<label> <input type="radio" name="shippingMethod"
											value="groundShipping" checked="checked" /> Free Shipping
										</label>
									</div>
									<div class="radio">
										<label> <input type="radio" name="shippingMethod"
											value="premiumShipping" /> Premium Shipping
										</label>
									</div>

									<div class="row">
										<div class="col-md-8">
											<h4>Products</h4>
										</div>
										<div class="col-md-2">
											<h4>Price</h4>
										</div>
										<div class="col-md-2">
											<h4>Qty</h4>
										</div>
									</div>

									<!-- display products in cart -->

									<div class="row" th:each="cartItem : ${cartItemList}"
										style="margin-bottom: 10px">
										<hr />
										<div class="col-md-2">
											<a th:href="@{/book-detail(id=${cartItem.book.id})}"> <img
												class="img-fluid shelf-book"
												th:src="#{adminPath}+@{/image/book/}+${cartItem.book.id}+'.png'"
												style="width: 70px;" />
											</a>
										</div>
										<div class="col-md-6">
											<div style="margin-left: 50px;">
												<h4>
													<a class="book-title-color"
														th:href="@{/book-detail?id=}+${cartItem.book.id}"
														th:text="${cartItem.book.title}"></a>
												</h4>
												<p th:if="${cartItem.book.inStockNumber > 10}"
													style="color: green;">In Stock</p>
												<p
													th:if="${cartItem.book.inStockNumber < 10 && cartItem.book.inStockNumber > 0}"
													style="color: green;">
													Only <span th:text="${cartItem.book.inStockNumber}"></span>
													In Stock
												</p>
												<p th:if="${cartItem.book.inStockNumber == 0}"
													style="color: darkred;">Product Unavailable</p>
												<a th:href="@{/remove-item?id=}+${cartItem.id}"
													style="color: #EC4C4C">Delete</a>
											</div>
										</div>

										<div class="col-md-2">
											<h5 style="color: #db3208; font-size: large;">
												€<span th:text="${cartItem.book.ourPrice}"
													th:style="${cartItem.book.inStockNumber} == 0? 'text-decoration: line-through' : ''"></span>
											</h5>
										</div>

										<div class="col-md-2">
											<h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
										</div>

									</div>

									<hr />
									<h4 class="col-md-12 text-right">
										<strong style="font-size: large;">Order Total (<span
											th:text="${#lists.size(cartItemList)}"></span> items):
										</strong> <span style="color: #db3208; font-size: large;">€<span
											th:text="${shoppingCart.grandTotal}"></span></span>
									</h4>
									<br /> <br />
									<button type="submit" class="btn btn-form">Place your
										order</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Container end -->
	<!-- Bottom Scripts -->
	<div th:replace="/common/header.html :: body-bottom-scripts"></div>
</body>
</html>